.note{
    position: relative;
    background-color: beige;
    width: 300px;
    height: 300px;
    margin: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.noteText{
    font-family: 'Source Sans Pro', sans-serif;
    position: absolute;
    bottom: 0px;
    resize: none;    
    width: 288px;
    height: 250px;
    background-color: lightyellow;
    border: none;
    font-size: 16px;
    padding-left: 10px;
}

#trash-icon{
    color: red;
    position: absolute;
    font-size: 30px;
    right: 10px;
    top: 5px;
    cursor: pointer;
}

#plus-icon{
    color: lightgreen;
    position: absolute;
    font-size: 30px;
    cursor: pointer;
    left: 64%;
    top: 28px;
}

#heading{
    margin-bottom: 5px;
    position: relative; 
    left: 36%;
    font-family: 'Source Sans Pro', sans-serif;
}
